<h1>Dashboard</h1>
<h2><%= current_user.username %>'s Shouts</h2>

<%= form_for(@shout) do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "Shout" %>
<% end %>

<%= render @shouts %>
<div>
  Following: <%= render current_user.followed_users %>
</div>
<div>
  Followers: <%= render current_user.followers %>
</div>
